/* ADMIN PAGE */
:root {
    --primary-color: #2b2b2b;
    --secondary-color: #faf9f6;
}

body {
    background-color: var(--secondary-color);
}

main {
    display: grid;
    grid-template-columns: auto 1fr;
}

.utama {
    margin: 30px 20px;
}

.utama table {
    width: 100%;
}

.utama table h1 {
    font-size: 28px;
    font-weight: 400;
}

.utama table .info {
    width: 20vw;
}

.utama table .data {
    padding-left: 25px;
}

.informasi table tr {
    display: block;
    padding: 10px 0px;
}

.welcome, .informasi {
    width: 95%;
    margin: 0px auto 30px auto;
    border-radius: 10px;
    padding: 20px 50px 50px 50px;
    background-color: #f4f4f4;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.welcome h1 {
    font-size: 40px;
    font-weight: 400;
}

.welcome h3 {
    font-weight: 400;
    margin: 15px auto;
}

.nav-dash {
    margin-top: 20px;
}

.nav-dash i {
    width: 35px;
    font-size: 20px;
}

.nav-dash a {
    color: white;
    display: block;
    padding: 17px 0px 17px 42px;
    transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.active {
    background-color: #2b2b2b;
}

.nav-dash a:hover {
    background-color: var(--primary-color);
}

table .fas {
    font-size: 14px;
}

table .button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table a {
    color: white;
    font-size: 14px;
}

/* CRUD PELANGGAN */
.daftar-user {
    width: 95%;
    margin: auto auto 50px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    background-color: #f4f4f4;
    cursor: default;
}

.daftar-user h1 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}

.container-card {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 15px 10px;
    padding: 35px;
    border-radius: 14px;
    border-left: 5px solid var(--primary-color);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    background: white;
    box-sizing: border-box;
}

.card h2 {
    font-size: 20px;
}

.card h3 {
    font-size: 16px;
    color: #555;
}

.card p {
    margin-top: 5px;
}

p .fa-phone {
    font-size: 17px;
}

p .fa-envelope {
    font-size: 18px;
}

/* ALERT */
.success-update {
    position: relative;
    background-color: rgba(43, 43, 43, 0.5);
    border-radius: 5px;
    padding: 10px 30px;
    margin-top: 15px;
    width: 100%;
}

.success-update em {
    color: white;
}

.success-update i {
    position: absolute;
    vertical-align: middle;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-right: 20px;
    font-size: 20px;
    line-height: 20px;
    color: white;
    cursor: pointer;
}

.type {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-size: 13px;
}

.Pribadi {
    background-color: var(--primary-color);
}

.Perusahaan {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: black;
}

.role {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-size: 13px;
}

.User {
    background-color: #002f79;
}

.Admin {
    background-color: #f69300;
}

.action-btn {
    display: block;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    width: 48%;
    text-align: center;
}

.btn-add {
    display: inline-block;
    color: white;
    background-color: #006aff;
    border-radius: 5px;
    margin-top: 12px;
    padding: 7px 10px;
}

.btn-add:hover {
    background-color: #0057d0;
}

.btn-add, .edit, .hapus {
    transition: .3s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-add i {
    font-size: 14px;
}

.btn i {
    font-size: 14px;
}

.edit {
    background-color: #008b00;
}

.edit:hover {
    background-color: #007500;
}

.hapus {
    background-color: #cf0000;
}

.hapus:hover {
    background-color: #ab0000;
}

/* TABLE CRUD REGULAR */
table.table-crud {
    width: 100%;
    margin-top: 20px;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 5px;
    box-shadow: 2px 2px 25px -3px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

table.table-crud th {
    padding: 10px;
    padding: 10px;
    color: white;
    background-color: #2b2b2b;
    box-shadow: 2px 2px 25px -3px rgba(0, 0, 0, 0.25);
}

table.table-crud td {
    padding: 10px;
}

table.table-crud th,
table.table-crud tr:not(:last-child) td {
    border-bottom: 1px solid #cacaca;
}

table.table-crud th:not(:last-child),
table.table-crud td:not(:last-child) {
    border-right: 1px solid #cacaca;
}

table.table-crud tr:hover {
    background-color: #e8e8e8;
}

table.table-crud .btn {
    display: inline;
}

table.table-crud .action {
    white-space: nowrap;
}

/* CRUD PEMESANAN */
div.container-crud {
    margin: 30px 20px;
}

.daftar-crud {
    width: 95%;
    margin: auto auto 50px;
    padding: 20px 20px 40px 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    background-color: #f4f4f4;
    cursor: default;
}

.daftar-crud h1 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}

.utama table {
    width: 100%;
}

/* SETTINGS PAGE */
.settings {
    background-color: white;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
}

.settings .utama {
    margin: 50px 50px 0px 50px;
}

.settings .utama > h1 {
    font-size: 48px;
    font-weight: 300;
}

.settings h3 {
    font-weight: 400;
    margin: 15px auto;
}

.settings table {
    background-color: #F9F9F9;
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.25);
    margin-top: 35px;
    padding: 35px 40px;
    border-radius: 10px;
    width: 100%;
}

.settings table h1 {
    font-size: 28px;
    font-weight: 400;
}

.settings table .info {
    width: 20vw;
}

.settings table .data {
    padding-left: 25px;
    width: 700px;
}

.settings table tr {
    display: block;
    padding: 10px 0px;
}

.settings table input, .settings table select {
    width: 100%;
    height: 40px;
    padding: 0px 10px;
}

/* button */
.settings table .fas {
    font-size: 16px;
}

.settings table button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* INPUT BOX */
.settings input, .settings select {
    width: 100%;
    height: 40px;
    padding: 10px 40px 10px 15px; 
    border: none;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.settings select {
    cursor: pointer;
}

.settings .input-box {
    position: relative;
    display: flex;
    align-items: center;
}

.settings .input-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    font-size: 18px;
    right: 0px;
}

.settings input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(43, 43, 43, 0.5); 
    outline: none;
}