/* ADMIN PAGE */
:root {
    --primary-color: #2b2b2b;
    --secondary-color: #faf9f6;
}

main {
    background-color: white;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
}

.utama {
    margin: 55px 50px 0px 343px;
}

.utama h1 {
    font-size: 48px;
    font-weight: 300;
}

.utama h3 {
    font-weight: 400;
    margin: 15px auto;
}

.utama table {
    background-color: #F9F9F9;
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.25);
    margin-top: 35px;
    padding: 35px 40px;
    border-radius: 10px;
    width: 100%;
}

.utama table h1 {
    font-size: 28px;
    font-weight: 400;
}

.utama table .info {
    width: 20vw;
}

.utama table .data {
    padding-left: 25px;
    width: 700px;
}

.utama table tr {
    display: block;
    padding: 10px 0px;
}

.utama table input, .utama table select {
    width: 100%;
    height: 40px;
    padding: 0px 10px;
}

/* button */
table .fas {
    font-size: 16px;
}

table .button {
    padding-top: 20px;
}

table button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* INPUT BOX */
input, select {
    width: 100%;
    height: 40px;
    padding: 10px 40px 10px 15px; 
    border: none;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

select {
    cursor: pointer;
}

.input-box {
    position: relative;
    display: flex;
    align-items: center;
}

.input-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    font-size: 18px;
    right: 0px;
}

input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(43, 43, 43, 0.5); 
    outline: none;
}