/* ALL USER PAGE */
:root {
    --primary-color: #2b2b2b;
    --secondary-color: #faf9f6;
}

main {
    background-color: white;
    display: grid;
    grid-template-columns: auto 1fr;
}

.hr-standar {
    margin: 10px 0;
    border: none;
    border-top: 1px solid black;
}

.utama {
    margin: 30px 50px;
}

.home .utama h1 {
    font-size: 36px;
    font-weight: 300;
}

.utama h2 {
    font-size: 24px;
    font-weight: 300;
}

.utama h3 {
    font-weight: 400;
    margin: 15px auto;
}

.home .utama table,
.settings section {
    background-color: #F9F9F9;
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.25);
    margin-top: 35px;
    padding: 35px 40px;
    border-radius: 10px;
    width: 100%;
}

.utama table h1 {
    font-size: 28px;
    font-weight: 400;
}

.utama table .info {
    width: 20vw;
}

.utama table .data {
    padding-left: 25px;
    width: 700px;
}

.utama table tr {
    display: block;
    padding: 10px 0px;
}

.riwayat,
.notif {
    background-color: #F9F9F9;
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.25);
    margin-top: 50px;
    padding: 25px 30px;
    border-radius: 10px;
    width: 50%;
    max-height: 400px;
    overflow-y: auto;
}

.notif-text {
    background-color: #fff5d8;
    border: 1px solid #ffeeba;
    margin: 10px 0px;
    padding: 10px 15px;
    border-radius: 5px;
}

.notif-text:hover {
    cursor: pointer;
}

.riwayat-notif {
    display: flex;
    flex: 1;
    gap: 40px;
}

.riwayat-box {
    color: black;
    display: block;
    position: relative;
}

.riwayat-box .fas {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.riwayat-box:hover {
    background-color: #e8e8e8;
}

.riwayat-box hr {
    margin: 7px 0px;
    border: none;
    border-top: 0.5px solid #898989;
}

.riwayat-box p:first-of-type {
    font-size: 16px;
    margin-bottom: 5px;
}

.riwayat-box p:nth-of-type(2) {
    font-size: 14px;
    width: 80%;
}

.no-order,
.msg-notif {
    text-align: center;
    margin: 20% auto;
}

.msg-riwayat em,
.msg-notif em {
    display: block;
    font-size: 13px;
    color: #adadad;
    margin-bottom: 10px;
}

/* button */
.button .fas {
    font-size: 16px;
}

.riwayat .fas {
    font-size: 16px;
    margin-right: 5px;
}

table .button {
    padding-top: 10px;
}

table a,
.no-order a,
.detailPesanan .utama a {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    display: inline-block;
    transition: .3s ease-in-out;
    font-size: 14px;
}

table button,
form button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 15px;
    border: none;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

/* STYLE FOR SETTINGS PAGE (USER) */
.settings .utama a {
    display: block;
    width: fit-content;
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: red;
    transition: .3s;
    color: white;
}

.settings .utama a:hover {
    background-color: #e40000;
}

.settings .utama h1 {
    font-size: 48px;
    font-weight: 300;
}

.settings .password form label {
    width: 500px;
    min-width: 100px;
}

.settings .password .input-box {
    margin-bottom: 20px;
}

.settings .utama h2 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 20px;
}

.settings .password {
    margin-bottom: 40px;
}

/* INPUT BOX */
input,
select {
    width: 100%;
    height: 40px;
    padding: 10px 40px 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

select {
    cursor: pointer;
}

.input-box {
    position: relative;
    display: flex;
    align-items: center;
}

.input-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    font-size: 18px;
    right: 0px;
}

input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(43, 43, 43, 0.5);
    outline: none;
}

/* STYLE FOR BUAT PESANAN PAGE */
.progress-bar {
    width: 50%;
    height: 10px;
    background-color: #2b2b2b;
    position: relative;
    top: 0;
    border-radius: 10px 5px 5px 0px;
    transition: .5s cubic-bezier(0.19, 1, 0.22, 1);
}

.buatPesanan .utama h1 {
    font-size: 40px;
    font-weight: 300;
}

.buatPesanan form {
    background-color: #F9F9F9;
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.25);
    margin-top: 15px;
    border-radius: 10px;
}

.buatPesanan input::placeholder {
    font-style: italic;
}

.form-pesanan {
    padding: 25px 40px;
    width: 100%;
    height: 480px;
    overflow: hidden;
}

.buatPesanan .step-form {
    width: 100%;
    margin: auto;
}

.step-form h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.step-form em {
    font-size: 14px;
}

#form2 {
    display: none;
}

.buatPesanan .input-box {
    margin: 15px 0px;
}

.buatPesanan label {
    width: 300px;
}

.form-pesanan button {
    background-color: #2b2b2b;
    border: 1px solid #2b2b2b;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    transition: .3s ease-in-out;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

.form-pesanan button:hover,
table a:hover,
.no-order a:hover,
table button:hover,
form button:hover,
.detailPesanan .utama a:hover {
    background-color: transparent;
    color: #2b2b2b;
    border: 1px solid #2b2b2b;
}

.form-pesanan button .fas {
    font-size: 14px;
}

.form-pesanan span {
    color: red;
}

/* STYLE FOR DAFTAR PESANAN PAGE */
.daftarPesanan .utama h1,
.detailPesanan .utama h1 {
    font-size: 40px;
    font-weight: 300;
}

.daftarPesanan table tr {
    display: table-row;
    text-align: center;
    border-bottom: 1px solid #cacaca;
}

.daftarPesanan table {
    width: 100%;
    margin-top: 20px;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 2px;
    box-shadow: 2px 2px 25px -3px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.daftarPesanan table th,
.daftarPesanan table tr:not(:last-child) td {
    border-bottom: 1px solid #cacaca;
}

.daftarPesanan table th {
    padding: 10px;
    color: white;
    background-color: #2b2b2b;
    box-shadow: 2px 2px 25px -3px rgba(0, 0, 0, 0.25);
}

.daftarPesanan table th:not(:last-child),
.daftarPesanan table td:not(:last-child) {
    border-right: 1px solid #cacaca;
}

.daftarPesanan table td {
    padding: 20px 10px;
}

.daftarPesanan table tr:hover {
    background-color: #e8e8e8;
}

.daftarPesanan table .fa-arrow-right {
    font-size: 14px;
}

/* STYLE DETAIL PESANAN */
.detailPesanan .informasi-flex {
    display: flex;
    gap: 20px;
}

.detailPesanan .utama a {
    margin: 10px 0px;
}

.detailPesanan .utama .fas {
    font-size: 16px;
}

.detailPesanan img {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.detailPesanan .desain img {
    width: auto;
    height: auto;
    min-width: none;
    min-height: none;
    object-fit: cover;
}

.detailPesanan table {
    border-collapse: collapse;
    width: 100%;
}

.detailPesanan table th {
    min-width: 50px;
    width: 200px;
}

.detailPesanan table td {
    min-width: 100px;
}

.detailPesanan table tr {
    display: table-row;
}

.detailPesanan table th,
.detailPesanan table td {
    text-align: left;
    border-bottom: 1px solid #cacaca;
}

.detailPesanan .img-jasa {
    position: relative;
}

.detailPesanan .img-jasa h1 {
    font-family: 'Oswald', serif;
    font-size: 28px;
    font-weight: 400;
    position: absolute;
    z-index: 2;
    bottom: 0;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    transition: none;
    animation: none;
    margin-bottom: 8px;
}

/* desain & alamat */
.detailPesanan .desain-alamat {
    width: 100%;
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.desain-alamat .desain {
    position: relative;
    width: 40%;
    height: 400px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.25);
}

.desain-alamat .desain h2 {
    padding: 10px 35px;
}

.desain-alamat iframe {
    width: 100%;
    height: 80%;
}

.desain-alamat .alamat {
    width: 60%;
    background-color: #f9f9f9;
    padding: 50px 40px;
    border-radius: 10px;
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.25);
}

.desain-alamat .alamat table th {
    padding: 10px 0px;
    width: 200px;
}

.search input {
    margin: 15px 0;
    width: 30%;
}

/* STYLE DAFTAR PENAWARAN */
.offer table td {
    padding: 20px;
}

.offer button {
    font-size: 14px;
}

.offer button .fas {
    font-size: 16px;
}

.agree {
    background-color: #008b00;
    border: 1px solid #008b00;
}

.agree:hover {
    background-color: #007500;
    color: white;
}

.warning {
    background-color: #006aff;
    border: 1px solid #006aff;
    /* color: black; */
}

.warning:hover {
    color: white;
    background-color: #0057d0;
    border: 1px solid #0057d0;
}

.reject {
    background-color: #cf0000;
    border: 1px solid #cf0000;
}

.reject:hover {
    background-color: #ab0000;
    color: white;
}